// background colors
$c-danger: #dc3545;
$c-primary: #007bff;
$c-secondary: #ededed;
$c-yellow: #ffc107;
$c-light-blue: #17a2b8;
$c-pale-blue: #6c757d;

// text colors
$c-gray: #555;
$c-dark-gray: #333;
$c-white: #fff;


